node_modules/

.env
.env.test
.env.production
.env.local
.env.development

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/
.nyc_output/

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
